<i data-toggle="tooltip" title="submitted articles" class="far fa-file-alt"></i>{{profile.count_articles}}
<i data-toggle="tooltip" title="follows" class="far fa-thumbs-up"></i>{{profile.count_follows}}
<i data-toggle="tooltip" title="followers" class="fas fa-users"></i>{{profile.count_followers}}
<i data-toggle="tooltip" title="positive reviews" class="far fa-heart"></i>{{profile.count_positive_reviews}}
<i data-toggle="tooltip" title="budges" class="fas fa-certificate"></i>{{profile.count_badges}}
